.btn-group{
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
}
.btn-group-row{
    width: 100%;
    margin-bottom: 1px;
    flex: 1 0 auto;
    display: flex;
}